*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(clear.jpg);
    height: 100vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.app-main{
  width: 50vh;
  margin: 100px auto;
  background-color: rgba(240,248,255,.6);
  text-align: center;
  padding: 20px;
}

.app-main > *{
    margin-bottom: 20px;
}

#input-box{
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 50px;
    color: #582233;
    border: none;
    outline: none;
    text-align: center;
    font-size: 1.2em;
    border-radius: 5px;

}

#input-box:focus{
    background-color: white;
}

.weather-body{

    color: #582233;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    line-height: 2em;
    border-radius: 10px;
    height: 50vh;
}

.location-details{
    font-weight: bold;
}

.weather-status{
    font-weight: bold;
}

#temp{
    text-shadow: 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 3.5rem;
    padding: 30px;
}

#weather-type{
    font-size: large;
    margin-top: 20px;
}
